.cabesalho {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    box-shadow: 10px 1px 20px rgba(0, 0, 0, 0.123);
}

.contain_filho_cabesalho {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
}

.button_cabesalho {
    border: none;
    background-color: transparent;
}

.cabesalho_titulo_imagemMenu {
    width: 24px;
}

.lista_cabesalho {
    display: none;
    text-decoration: none;
    text-transform: uppercase;
}
