.main_contain {
    width: 80vw;
    height: auto;
    margin: auto;
    /* background: #F9F9F9; */
    padding: 1em;
    border-radius: 10px;
    margin-top: 7px;
    /* box-shadow: 10px 1px 20px rgba(0, 0, 0, 0.137); */
    transition: width 0.9s, heigth 3s;   
    transition-timing-function: ease 1s;
}

.descricao_filho {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

.mainParagrafos {
    text-align: justify;
    padding: 7px;
    margin: 1px;
    font-size: 10pt;
    text-indent: 6px;
    word-spacing: 5px;
    line-height: 1.2;
}

.subtitulo {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background: #dfdfdf2c;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 6px;
    font-size: 18px;
    font-weight: 400;
}

.Destaque {
    font-weight: bold;
}

.links {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: 1s all ease;
}

.links:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.795);
}

.composer_json {
    border: none;
    border-radius: 2px;
    background-color: rgb(121, 121, 121);
    padding: 5px 2px 4px 2px;
    margin: 3px;
    color: white;
    cursor: pointer;
    display: block;
}

.sectionsClass {
    margin: 10px;
    padding: 10px;
}

.json_composer {
    display: none;
}

.json_composer_add {
    display: block;
}

.java_git {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(121, 121, 121);
    padding: 5px 2px 4px 2px;
    border-radius:2px;
    transition: all 1s ease-out;
    font-size: 10pt;
}

.java_git:hover {
    text-decoration: underline;
}

.style_bonton {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(121, 121, 121);
    padding: 5px 2px 4px 2px;
    border-radius:2px;
    transition: all 1s ease-out;
    font-size: 10pt;
}

.style_bonton:hover {
    text-decoration: underline;
}

.main_icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.imgagens_icons {
    width: 36.6px;
    margin-left: 5px;
    cursor: pointer;
}

.java_icons {
    width: 24px;
}

.icons_html {
    width: 24px;
}

.linksParaDocumentacao {
    text-decoration: none;
    color: rgb(49, 49, 49);
    transition: 1s ;
}

.linksParaDocumentacao:hover {
    text-decoration: underline;
    padding: 2px;
    margin: 2px;
    color: black;
}

/*todas as demais midias*/
/* Typical device breakpoints
---------------------------
pequenas telas:ate 600px
celular: 600px ate 768px
tablet:768px ate 992px
desktop:992px ate 1200px
grandes telas:acima de 1200px
---------------------------------
*/

@media screen and (min-width: 662px){

    .descricao_filho {
        font-weight: 500;
        font-size: 20pt;
        text-decoration: none;
    }

    .mainParagrafos {
        text-align: justify;
        padding: 6px;
        margin: 2.5px;
        font-size: 13pt;
        text-indent: 6px;
    }
    
    .subtitulo {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        background: #dfdfdf17;
        width: 100%;
        text-align: center;
        color: rgb(0, 0, 0);
        padding: 7px;
        font-size: 20pt;
        font-weight: 600;
        box-shadow: 10px 1px 25px rgba(0, 0, 0, 0.137)
    }

    .main_contain_filho {
        width: 82%;
        margin: auto;
        
    }
}
