.main_contain {
    width: 80vw;
    height: auto;
    margin: auto;
    /* background: #F9F9F9; */
    padding: 1em;
    border-radius: 10px;
    margin-top: 7px;
    /* box-shadow: 10px 1px 20px rgba(0, 0, 0, 0.137); */
}

.descricao_filho {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

.mainParagrafos {
    text-align: justify;
    padding: 7px;
    margin: 1px;
    font-size: 10pt;
    text-indent: 6px;
}

.subtitulo {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background: #dfdfdf2c;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 6px;
    font-size: 18px;
    font-weight: 400;
}

.Destaque {
    font-weight: bold;
}

.links {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: 1s all ease;
}

.links:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.795);
}

.composer_json {
    border: none;
    border-radius: 2px;
    background-color: rgb(121, 121, 121);
    padding: 5px 2px 4px 2px;
    margin: 3px;
    color: white;
    cursor: pointer;
    display: block;
}

.sectionsClass {
    margin: 10px;
    padding: 10px;
}

.json_composer {
    display: none;
}

.json_composer_add {
    display: block;
}

/*todas as demais midias*/
/* Typical device breakpoints
---------------------------
pequenas telas:ate 600px
celular: 600px ate 768px
tablet:768px ate 992px
desktop:992px ate 1200px
grandes telas:acima de 1200px
---------------------------------
*/

@media screen and (min-width: 662px) and (max-width: 950px){

    .descricao_filho {
        font-weight: 500;
        font-size: 20pt;
        text-decoration: none;
    }

    .mainParagrafos {
        text-align: justify;
        padding: 6px;
        margin: 2.5px;
        font-size: 16pt;
        text-indent: 6px;
    }
    
    .subtitulo {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        background: #dfdfdf17;
        width: 100%;
        text-align: center;
        color: rgb(0, 0, 0);
        padding: 7px;
        font-size: 20pt;
        font-weight: 600;
        box-shadow: 10px 1px 25px rgba(0, 0, 0, 0.137)
    }
}

@media screen and (min-width: 950px) {
    
}